.display-container {
  border: 5px solid red;
}
.container {
  border: 5px solid brown;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
}
.child {
  border: 5px solid green;
  margin: 10px 10px 10px 10px;
}

body,
html {
  height: 100%;
  margin: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.gridhead {
  text-align: center;
}

.gridcontainer {
  border: 5px solid blue;
  display: grid;
  gap: 20px;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 150px 150px 150px 150px 150px;
  padding: 10px 10px 10px 10px;
  width: 200%;
  grid-template-areas:
    "head"
    "left"
    "main"
    "right"
    "foot";
}

.gridchild {
  border: 5px solid rgb(208, 77, 77);
}

@media (min-width: 800px) {
  .gridcontainer {
    grid-template-columns: 0.5fr 1fr;
    grid-template-rows: 100px 100px 1fr 100px 100px;
    grid-template-areas:
      "head head"
      "left main"
      "right main"
      "foot foot";
  }
}

@media (max-width: 900px) {
  .gridcontainer {
    grid-template-columns: 0.5fr 1fr;
    grid-template-rows: 10px 10px 1fr 10px 100px;
  }
}
